<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Admin Vertex</title>

<link rel="stylesheet"
href="/static/css/styles.css">

</head>

<body>

<section class="admin">

<h1>
Panel Administrador
</h1>

<div class="admin-card">

<h3>
AstroWear
</h3>

<p>
Cambio de banner
</p>

<button class="approve">

Aprobar

</button>

<button class="reject">

Rechazar

</button>

</div>

<div class="admin-card">

<h3>
King Burguer
</h3>

<p>
Nueva publicación
</p>

<button class="approve">

Aprobar

</button>

<button class="reject">

Rechazar

</button>

</div>

</section>

</body>

</html>
