<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Encuesta | Vertex</title>

<link rel="stylesheet"
href="/static/styles.css">

</head>

<body>

<section class="survey">

<h1>
Ayúdanos a mejorar Vertex
</h1>

<form>

<textarea
placeholder="¿Qué mejorarías?">
</textarea>

<textarea
placeholder="¿Qué función agregarías?">
</textarea>

<select>

<option>⭐</option>
<option>⭐⭐</option>
<option>⭐⭐⭐</option>
<option>⭐⭐⭐⭐</option>
<option>⭐⭐⭐⭐⭐</option>

</select>

<button>

Enviar

</button>

</form>

</section>

</body>

</html>
